.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.array {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 98.5%;
  height: 40px;
  margin-top: 10px;
}
